<h1>Editing fund</h1>

<% form_for(@fund) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :account %><br />
    <%= f.text_field :account %>
  </p>
  <p>
    <%= f.label :users_id %><br />
    <%= f.text_field :users_id %>
  </p>
  <p>
    <%= f.label :balance %><br />
    <%= f.text_field :balance %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @fund %> |
<%= link_to 'Back', funds_path %>